/* ==========================================================================
   Styles for nicer cs032 site
   ========================================================================== */
body {
    margin-left: 200px;
    font-family: Consolas, monaco, monospace;
    background-color: #353942;
    color: #ecf0e6;
}

#docdiv h2 {
   font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

#docdiv {
   background-color: none;
}

a {
   color: #abe2ed;
   text-decoration: underline;
}

a:hover {
   color: #FFF;
   text-decoration: underline;
}

a:active {
   color: #e7999c;
   text-decoration: underline;
}

a:visited {
   color: #abe2ed;
   text-decoration: underline;
}

.announcement {
   border: 2px solid #ecf0e6;
   margin-bottom: 20px;
}

.page-header {
   font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
   color: #ecf0e6;
}

#projects-container {
   background-color: none;
}

#projects-container {
   background-color: none;
}

#nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 600px;
  background-color: #ecf0e6;
  border-bottom-right-radius: 20px;
}

.header-element {
   width: 100%;
   height: 10.3%;
}

.header-element a {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  color: #353942;
  padding-top: 10px;
}

.header-element:hover {
   background-color: #FFF;
}

.header-element a:hover{
   font-size: 35px;
}

.hovered {
  background: rgba(255,255,255,0.2);
}
